:root{
    --white:#ffffff;
    --gold:#D2AC47;
    --black:#313131;
    --wgray:#F0F0F0;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Exo', sans-serif;
}
*::selection{
    background-color: #4eb1a5
}
a{
    text-decoration:none;
}
body{
    max-width:100%;
    scrollbar-width: thin;
    overflow: overlay
}
body::-webkit-scrollbar {
    width: 8px
}

body::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 45%);
}
.content{
    max-width:100%;
    overflow: hidden;
}
.navigation{
    display:flex;
    position:fixed;
    width:100%;
    height:100px;
    background-color: var(--black);
    z-index:9 !important;
}
.logo{
    width:10%;
}
.logo-container{
    position:relative;
    width:80px;
    height:80px;
    margin:10px auto;
}
.logo-container> img{
    width:100%;
    height:100%;
}
.anchors{
    width:70%;
    display:flex;
}
.anchor-flex{
    padding-left:10%;
    margin:auto;
}
.anchor-flex>a{
    color:var(--white);
    font-size:18px;
    padding:0px 20px;  
    transition:color .3s ease-in-out;
}
.anchor-flex>a:hover{
    color:var(--gold)
}
.anchor-flex>a.active{
    color:var(--gold);
}
.call{
    width:20%;
    font-size:18px;
    display:flex;
}
.call-con-fit{
    margin:auto;
    width:fit-content;

}
.call-con-fit a{
    color:var(--white);
    display:block;
}
.call-con-anchor{
    border-bottom: 1px solid var(--gold);
    width:fit-content;
    font-size:14px;
    float:right;
}
.call-con-anchor> a{
    color:var(--gold);
}
.section-no1{
    margin-top:150px;
    margin-bottom:50px;
}
.section-banner{
    position:relative;
    width:70%;
    height:400px;
    margin:50px auto 0;
    background-image: url("../../img/zespol/banner-m.jpg");
    background-position: center;
    background-size: 100% 200%;
}

.section-banner h1{
    position:absolute;
    color:white;
    font-size:40px;
    margin-left:50px;
    margin-bottom:20px;
    bottom:20%;
}

.section-banner span{
    margin-left:50px;
    position:absolute;
    bottom:15%;
}
.section-banner span a{
    display:inline-block;
    color:white;
    transition:color .3s ease-in-out;
}
.section-banner span a:hover{
    display:inline-block;
    color:hsl(0,0%,60%);
}
.section-banner span p{
    display:inline-block;
    color:white;
}




footer{
    background: var(--black);
    width:100%;
    padding:100px 0px 20px;
    text-align: center;
    position:relative;
}
footer img{
    margin-bottom:50px;
    user-select: none;
}
footer p{
    color:white;
    font-size:18px;
    margin-bottom:30px;
}
.button-rezerwacja{
    width:fit-content;
    margin:0 auto;
    background: linear-gradient(to right,#D2AC47,#D3A833);
    padding:20px 0px;
}
.button-rezerwacja a{
    color:white;
    padding:20px 50px;
    text-shadow: 1px 0px 1px black;
}
.footer-con-flex-anchors{
    width:70%;
    margin:75px auto 0 ;
    display:flex;
    justify-content: space-around;
}
.con-footer a{
    color:white;
    font-size:18px;
    transition:color 0.3s ease-in-out;
}
.con-footer a:hover{
    color:var(--gold)
}
.underscore-anchor-footer{
    width:100%;
    height:2px;
    background: white;
}
.con-footer.active-foot-anchor a{
    color:var(--gold)
}
.con-footer.active-foot-anchor .underscore-anchor-footer{
    background:var(--gold)
}
.only-border-footer{
    width:100%;
    height:1px;
    background: #fff;
    margin:50px 0px 25px;
}
.underfooter-flex-con{
    width:90%;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.underfooter-con{
    width:33.33%;
}
.underfooter-con a{
    color:white;
    font-size:15px;
    transition:color 0.3s ease-in-out;
}
footer .underfooter-con p{
    color:white;
    margin-bottom:0px;
    font-size:15px;
    transition:color 0.3s ease-in-out;
}
.underfooter-con a:hover{
    color:var(--gold)
}
.underfooter-con i{
    font-size:22px;
}
.navigation-mobile{
    display:none;
}
.image-box.px800{
    display:none;
}
.creator{
    margin-top:30px;
}
.creator a p{
    color:#fff;
    transition:color .3s ease-in-out;
    display: inline;
    font-size:12px;
}
.creator a:hover > .pj{
    color:var(--gold);
    display: inline;
}
.section-no2{
    width:100%;
}
.section-no2 h2{
    font-size:32px;
    text-align: center;
    margin: 100px auto 150px;
}
.owner-box-flex{
    display: flex;
    position: relative;
    width:50%;
    margin:0 auto;
    align-items: center;
}
.img-box{
    width:200px;
    height:200px;
    border-radius:100%;
    background-image: url(../../img/zespol/osoba-1.jpg);
    background-position: 50% 50%;

}
.info-box{
    width:calc(100% - 150px);
    padding-left:20px;
}
.info-box h3{
    font-size:28px;
    color: var(--gold);
    text-shadow: 1px 0px 1px black;
    margin-bottom:10px;
}
.info-box p{
    font-size:15px;
    font-weight: bold;
    color: gray;
}
.info-box article{
    font-size:18px;
    margin:10px 0px;
}
.info-box p:nth-child(4){
    font-size:15px;
    font-weight:normal;
    color: gray;
}
.rest-of-team-flex{
    display: flex;
    width:90%;
    margin:50px auto;
    flex-wrap:wrap;
    justify-content: space-around;
}
.person-box{
    width:40%;
    display: flex;
    margin:30px 0px;
}

.img-box-person{
    width:150px;
    height:150px;
    border-radius:100%;
}
.person-box:nth-child(1) > .img-box-person{
    background-image: url(../../img/zespol/osoba-2.jpg);
    background-position: 50% 50%;
    background-size: 110%;
}
.person-box:nth-child(2) > .img-box-person{
    background-image: url(../../img/zespol/osoba-3.jpg);
    background-position: 50% 50%;
    background-size: 100%;
}
.person-box:nth-child(3) > .img-box-person{
    background-image: url(../../img/zespol/osoba-4.jpg);
    background-position: 50% 50%;
    background-size: 100%;
}
.person-box:nth-child(4) > .img-box-person{
    background-image: url(../../img/zespol/osoba-5.jpg);
    background-position: 50% 50%;
    background-size: 100%;
}
.person-box:nth-child(5) > .img-box-person{
    background-image: url(../../img/zespol/osoba-6.jpg);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.person-box:nth-child(6) > .img-box-person{
    background-image: url(../../img/zespol/osoba-7.jpg);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}






@media only screen and (max-width:1200px){
    .info-box h3 {
        font-size: 24px;
        text-shadow: 1px 0px 1px black;
        margin-bottom: 10px;
    }
    .person-box{
        width:45%;
        display: flex;
        margin:30px 0px;
    }
}


@media only screen and (max-width:1000px){
    .anchor-flex>a {
        font-size: 17px;
    }
    .section-banner {
        position: relative;
        width: 70%;
        height: 300px;
        margin: 50px auto 0;
        background-size: 130% 200%;
    }
    .offer-flex {
        display: flex;
        width: 90%;
        margin: 50px auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .section-banner h1 {
        margin-top: 200px;
        font-size: 30px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .section-banner span {
        margin-left: 30px;
    }
    .section-banner span a {
        font-size:15px;
    }
    .owner-box-flex {
        display: flex;
        position: relative;
        width: 60%;
        margin: 0 auto;
        align-items: center;
    }
    .info-box h3 {
        font-size: 20px;
        text-shadow: 1px 0px 1px black;
        margin-bottom: 10px;
    }
    .info-box article {
        font-size: 15px;
        margin: 10px 0px;
    }
    .rest-of-team-flex {
        width: 95%;
        margin: 50px auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}















@media only screen and (max-width:800px){
    .section-banner {
        position: relative;
        width: 85%;
        height: 300px;
        margin: 0px auto 0;
        background-image: url("../../img/zespol/banner-s.jpg");
        background-size: 120% 200%;
    }
    .content{
        z-index:-1;
    }
    .navigation{
        display:none;
    }
    .navigation-mobile{
        display:block;
        position:fixed;
        top:0;
        left:0;
        height: 100px;
        width:100%;
        z-index:98 !important;
    }
    .navigation-mobile-abs{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100px;
        z-index: 99 !important;
    }
    .navigation-mobile-static{
        background: var(--black);
        padding:15px 0px;
        z-index:-1 !important;

        width:100%;
        position:inline-block;
    }
    .logo-mobile {
        display:inline-block;
        width:50px;
        height:50px;
        position:relative;
        margin-left:30px;
        z-index:1 ;
    }
    .logo-mobile img{
        width:100%;
        height:100%;
    }
    .nav-burger{
        display:flex;
        width:50px;
        height:50px;
        float:right;
        margin-right:15px;
        align-items: center; 
        z-index:1 ;
    }
    .nav-burger i{
        font-size:35px;
        margin:0 auto;
        transition:color .3s ease-in-out;
        cursor:pointer;
        z-index:1;
        color:var(--gold);
    }
    .nav-burger i:hover{
        color:var(--gold);
    }
    .navigation-mobile-active{
        overflow: scroll;
        width:100vw;
        height:100vh;
        background: white;
        margin-left:0%;
        text-align: center;
        padding-top:75px;
        z-index: 99 ;
        position:absolute;
        padding-bottom:50px;
        top:0;
        right:-100%;
    }
    .logo-con-mobile{
        width:75px;
        height:75px;
        position:relative;
        margin:0 auto;
    }
    .anchor-main-con-mobile{
        margin-top:100px;

    }
    .anchor-con-mobile{
        margin:20px auto;
        width:fit-content;
    }
    .anchor-con-mobile a{
        font-size:23px;
        color:black;
        transition:all .3s ease-in-out;
    }
    .anchor-con-mobile a:hover{
        color:var(--gold);
        text-shadow:0px 1px 2px black;
    }
    .anchor-con-mobile.ob-active a{
        color:var(--gold);
        text-shadow:0px 1px 2px black;
    }
    .only-border-nav-mobile{
        width:100%;
        height:2px;
        background: var(--gold);
        box-shadow:0px 1px 2px black;
        display:none;
    }
    .anchor-con-mobile.ob-active>.only-border-nav-mobile{
        display: block;
    }
    .close-con-icon{
        position:absolute;
        top:0;
        right:0;
        margin:15px 15px 0px 0px;
        width:50px;
        height:50px;
        display:flex;
        align-items: center;
        cursor:pointer;
    }
    .close-con-icon i{
        margin:0 auto;
        font-size:35px;
        color:var(--gold);
    }
    .reservation-btn{
        padding:15px 20px;
        margin:50px auto 0px;
        width:fit-content;
        background: linear-gradient(to right,#D2AC47,#D3A833);
    }
    .reservation-btn a{
        color:black;
        font-size:16px;
        padding:10px 20px;
    }
    footer {
        padding: 100px 0px 25px;
    }
    .footer-con-flex-anchors {
        width: 90%;
        margin: 75px auto 0;
    }
    .only-border-footer {
        width: 100%;
        height: 1px;
        background: #fff;
        margin: 50px 0px;
    }
    .only-border-footer {
        margin: 50px 0px 20px;
    }
    .creator {
        margin-top:20px;
    }
    .creator a {
        padding-top:20px;
        text-align:center;
        width:100%;
        transition:color .3s ease-in-out;
        color:white;
    }
    .creator a:hover{
        color:var(--gold);
    }
    .rest-of-team-flex {
        width: 95%;
        margin: 50px auto;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
    }
    .person-box {
        width: 60%;
        display: flex;
        margin: 10px auto;
        align-items: center;
    }
    .owner-box-flex {
        display: flex;
        position: relative;
        width: 80%;
        margin: 40px auto 200px;
        align-items: center;
    }
}
















@media only screen and (max-width:600px){
    .section-banner span {
        margin-left: 30px;
        top:210px;
    }
    .section-banner span a{
        color:hsl(0,0%,20%);
        text-shadow: none;
    }
    .section-banner span p{
        color:hsl(0,0%,20%);
        text-shadow: none;
    }
    .section-banner span a:hover{
        color:hsl(0,0%,0%);
        text-shadow: none;
    }
    .section-no1 {
        margin-top: 25px;
        margin-bottom: 50px;
    }
    .section-banner {
        position: relative;
        width: 100%;
        height: 200px;
        margin: 85px auto 0;
        background-size: 120% 200%;
    }
    .section-banner h1 {
        font-size: 30px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    footer {
        padding: 50px 0px 25px;
    }
    footer p {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .footer-con-flex-anchors {
        width: 90%;
        margin: 25px auto 0;
        flex-direction: column;
    }
    .con-footer{
        width:fit-content;
        margin:10px auto;
    }
    .underfooter-con i {
        font-size: 17px;
    }
    footer .underfooter-con p {
        font-size: 13px;
    }
    .underfooter-con a {
        font-size: 13px;
    }
    .only-border-footer {
        margin: 25px 0px 20px;
    }
    .owner-box-flex {
        width: 80%;
        margin: 40px auto 200px;
        flex-direction: column;
    }
    .info-box {
        width: 100%;
        padding-left: 0px;
        margin-top:30px;
        text-align: center;
    }
    .person-box {
        width: 60%;
        margin: 0px auto 40px;
        flex-direction: column;
    }
}















@media only screen and (max-width:450px){
    .underfooter-con a {
        font-size: 10px;
    }
    footer .underfooter-con p {
        font-size: 10px;
    }
    .underfooter-con i {
        font-size: 15px;
    }
    
}

@media only screen and (max-width:400px) {
    .section-banner h1 {
        font-size: 25px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .section-banner span {
        margin-left: 15px;
    }
    .info-box {
        width: 95%;
        padding-left: 0px;
        margin-top: 30px;
        text-align: center;
    }
    .owner-box-flex {
        width: 95%;
        margin: 40px auto 200px;
        flex-direction: column;
    }
    .person-box {
        width: 95%;
        margin: 0px auto 40px;
        flex-direction: column;
    }
}