:root{
    --white:#ffffff;
    --gold:#D2AC47;
    --black:#313131;
    --wgray:#F0F0F0;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Exo', sans-serif;
}
a{
    text-decoration:none;
}
body{
    max-width:100%;
    scrollbar-width: thin;
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 8px
}

body::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 45%);
}

.content{
    max-width:100%;
    overflow: hidden;
}
.navigation{
    display:flex;
    position:fixed;
    width:100%;
    height:100px;
    background-color: var(--black);
    z-index:9 !important;
}
.logo{
    width:10%;
}
.logo-container{
    position:relative;
    width:80px;
    height:80px;
    margin:10px auto;
}
.logo-container> img{
    width:100%;
    height:100%;
}
.anchors{
    width:70%;
    display:flex;
}
.anchor-flex{
    padding-left:10%;
    margin:auto;
}
.anchor-flex>a{
    color:var(--white);
    font-size:18px;
    padding:0px 20px;  
    transition:color .3s ease-in-out;
}
.anchor-flex>a:hover{
    color:var(--gold)
}
.anchor-flex>a.active{
    color:var(--gold);
}
.call{
    width:20%;
    font-size:18px;
    display:flex;
}
.call-con-fit{
    margin:auto;
    width:fit-content;

}
.call-con-fit a{
    color:var(--white);
    display:block;
}
.call-con-anchor{
    border-bottom: 1px solid var(--gold);
    width:fit-content;
    font-size:14px;
    float:right;
}
.call-con-anchor> a{
    color:var(--gold);
}

.section-no1{
    margin-top:150px;
    margin-bottom:50px;
}
.section-banner{
    position:relative;
    width:70%;
    height:400px;
    margin:50px auto 0;
    background-image: url("../../img/kontakt/banner-m.jpg");
    background-position: center;
    background-size: 100% 120%;
}

.section-banner h1{
    position:absolute;
    color:white;
    font-size:40px;
    margin-left:50px;
    margin-bottom:20px;
    bottom:20%;
    text-shadow:0px 0px 15px black;
}

.section-banner span{
    margin-left:50px;
    position:absolute;
    bottom:15%;
}
.section-banner span a{
    display:inline-block;
    color:white;
    transition:color .3s ease-in-out;
    text-shadow:0px 0px 15px black;
}
.section-banner span a:hover{
    display:inline-block;
    color:hsl(0,0%,60%);
}
.section-banner span p{
    display:inline-block;
    color:white;
}

.section-no2{
    min-height:1000px;
}
.section-no2-flex{
    display:flex;
}
.kontakt-map{
    width:40%;
    height:auto;
    position:relative;
}
.kontakt-map iframe{
    width:100%;

}
.kontakt-content{
    width:57%;
    margin:0 auto;
    position:relative;
}
.kontakt-info{
    display:flex;
    justify-content: space-around;
    user-select: none;
}
.info-container-main{
    border:2px solid var(--gold);
    width:150px;
    height:200px;
    position:relative;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.container-hlp{
    width:100%;
    height:100%;
    position:relative;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.container-off{
    width:fit-content;
    height: fit-content;
    margin:0 auto;
    text-align: center;
}
.container-on{
    position:absolute;
    top:0;
    left:77;
    width:100%;
    height:100%;
    background-color: var(--gold);
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.container-on img{
    width:30px;
    height:30px;
    margin:10px auto 10px;
    text-shadow: 0px 0px 5px black;
}
.container-on p{
    color:white;
    text-align:center;
    text-shadow: 1px 1px 1px black;
    font-size:13px;
}

.info-container-main:nth-child(1) .container-on{
    left:-100%;
}
.info-container-main:nth-child(2) .container-on{
    top:-100%;
}
.info-container-main:nth-child(3) .container-on{
    left:100%;
}
.kontakt-form{
    padding-top:100px;
    width:70%;
    margin:0 auto;
}
.kontakt-form h2{
    font-size:32px;
    text-transform: uppercase;
    text-align: center;
}
form{
    position:relative;
    width: 100%;
    height:100%;
    margin-top:100px;
}

.form-container{
    position:relative;
    margin-bottom:10px;
    margin:0 auto 20px;
    width:60%;
}
.form-container input{
    resize:none;
    outline:gray;
    background: inherit;
    width:100%;
    padding:10px 0px;
    font-size:18px;
    border: 1px solid gray;
    border-bottom:2px solid black;
    margin-top:20px;
    transition:all .3s ease-in-out;
    padding-left:5px;
}

.form-container input:active{
    border-radius: none;
}
.info-p-form-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    margin-bottom:5px;
}
.info-p-form-container i{
    display:inline;
    margin-right:4px;
    color:black;
    transition:color .3s ease-in-out;
}
.form-container p{
    margin-bottom:5px;
    color:black;
    transition:color .3s ease-in-out;
    display:inline;
}
.PN-optional{
    font-size:11px;
    color:black !important;
}
.form-container textarea{
    padding:10px 0px;
    font-size:18px;
    color:black;
    outline:none;
    width:100%;
    max-width:100%;
    min-width:100%;
    height:100%;
    background:inherit;
    border:1px solid gray;
    border-bottom:2px solid black;
    margin-top:20px;
    transition:border .3s ease-in-out;
    padding-left:5px;
}










.form-container.error input {
    border-color: #ff3860;
}
.form-container.success input {
    border-color: #09c372;
}
.form-container .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}
.form-container > input:focus ~ .info-p-form-container >p,
.form-container > textarea:focus ~ .info-p-form-container >p,.form-container > input:focus ~ .info-p-form-container >i,
.form-container > textarea:focus ~ .info-p-form-container >i{
    color:var(--gold)
}
.form-container > input:focus,
.form-container > textarea:focus {
    border-bottom:2px solid var(--gold)
}


#form button {
    padding: 10px 20px;
    margin-top: 10px;
    color: black;
    background-color:transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
#form button:hover{
    color: var(--gold);
    border: 1px solid var(--gold);
    box-shadow: 0px 0px 1px black;
}

.input-control {
    display: block;
    flex-direction: column;
    position: relative;
    margin:25px 0px;
}

.input-control input {
    border: 1px solid hsla(0,0%,50%,0.2);
    border-bottom: 2px solid black;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
    transition: border .3s ease-in-out;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}
.input-control.error textarea {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}
.input-control i{
    width:fit-content;
    display: inline !important;
    transition:color .3s ease-in-out;
}
.input-control label{
    width:fit-content;
    display: inline !important;
    transition:color .3s ease-in-out;
}

.input-control textarea{
    padding:10px 0px;
    font-size:12px;
    color:black;
    outline:none;
    width:100%;
    max-width:100%;
    min-width:100%;
    height:100%;
    min-height:200px;
    background:inherit;
    border:1px solid hsla(0,0%,50%,0.2);
    border-bottom:2px solid black;
    transition:border .3s ease-in-out;
    padding-left:5px;
}


.input-control input:focus ~ .input-info label,
.input-control input:focus ~ .input-info i,
.input-control textarea:focus ~ .input-info label,
.input-control textarea:focus ~ .input-info i{
    color:var(--gold) !important;
}

.input-info{
    position:absolute;
    top:-25px;
}

.input-control input:focus,
.input-control textarea:focus{
    border-bottom:2px solid var(--gold)
}
.input-control.error input:focus,
.input-control.error textarea:focus{
    border:1px solid hsla(0,0%,50%,0.2);
    border-bottom:2px solid var(--gold);
}

.section-no3{
    margin:100px 0px;
}
.payments-main{
    width:800px;
    padding:20px;
    border:2px solid hsl(0,0%,20%);
    margin:0 auto;
}
.payments-main h3{
    text-align:center;
    font-size:30px;
    margin-bottom:30px;
    text-transform: uppercase;
}
.payments-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.payments-flex img{
    width:140px;
    height:90px;
    margin:20px 20px;
}









footer{
    background: var(--black);
    width:100%;
    padding:100px 0px 20px;
    text-align: center;
    position:relative;
}
footer img{
    margin-bottom:50px;
}
footer p{
    color:white;
    font-size:18px;
    margin-bottom:30px;
}
.button-rezerwacja{
    width:fit-content;
    margin:0 auto;
    background: linear-gradient(to right,#D2AC47,#D3A833);
    padding:20px 0px;
}
.button-rezerwacja a{
    color:white;
    padding:20px 50px;
    text-shadow: 1px 0px 1px black;
}
.footer-con-flex-anchors{
    width:70%;
    margin:75px auto 0 ;
    display:flex;
    justify-content: space-around;
}
.con-footer a{
    color:white;
    font-size:18px;
    transition:color 0.3s ease-in-out;
}
.con-footer a:hover{
    color:var(--gold)
}
.underscore-anchor-footer{
    width:100%;
    height:2px;
    background: white;
}
.con-footer.active-foot-anchor a{
    color:var(--gold)
}
.con-footer.active-foot-anchor .underscore-anchor-footer{
    background:var(--gold)
}
.only-border-footer{
    width:100%;
    height:1px;
    background: #fff;
    margin:50px 0px 25px;
}
.underfooter-flex-con{
    width:90%;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.underfooter-con{
    width:33.33%;
}
.underfooter-con a{
    color:white;
    font-size:15px;
    transition:color 0.3s ease-in-out;
}
footer .underfooter-con p{
    color:white;
    margin-bottom:0px;
    font-size:15px;
    transition:color 0.3s ease-in-out;
}
.underfooter-con a:hover{
    color:var(--gold)
}
.underfooter-con i{
    font-size:22px;
}
.navigation-mobile{
    display:none;
}
.image-box.px800{
    display:none;
}
.creator{
    margin-top:30px;
}
.creator a p{
    color:#fff;
    transition:color .3s ease-in-out;
    display: inline;
    font-size:12px;
}
.creator a:hover > .pj{
    color:var(--gold);
    display: inline;
}

@media only screen and (max-width:1000px){
    .anchor-flex>a {
        font-size: 17px;
    }
    .section-banner {
        position: relative;
        width: 70%;
        height: 300px;
        margin: 50px auto 0;
        background-size: 160% 100%;
    }
    .section-banner h1 {
        margin-top: 200px;
        font-size: 30px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .section-banner span {
        margin-left: 30px;
    }
    .section-banner span a {
        font-size:15px;
    }
    .payments-main {
        width: 480px;
        padding: 20px;
        border: 2px solid hsl(0,0%,20%);
        margin: 0 auto;
    }
    .payments-flex img {
        width: 100px;
        height: 90px;
        margin: 20px 20px;
    }
}


@media only screen and (max-width:800px){
    .section-no2-flex {
        flex-direction: column-reverse;
    }
    .kontakt-map {
        width: 100%;
        height: 400px;
        position: relative;
        margin-top:100px;
    }
    .kontakt-content {
        width: 90%;
        margin: 0 auto;
        position: relative;
    }
    .section-banner {
        position: relative;
        width: 85%;
        height: 300px;
        margin: 0px auto 0;
        background-image: url("../../img/kontakt/banner-s.jpg");
        background-size: 120% 100%;
    }
    .content{
        z-index:-1;
    }
    .navigation{
        display:none;
    }
    .navigation-mobile{
        display:block;
        position:fixed;
        top:0;
        left:0;
        height: 100px;
        width:100%;
        z-index:98 !important;
    }
    .navigation-mobile-abs{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100px;
        z-index: 99 !important;
    }
    .navigation-mobile-static{
        background: var(--black);
        padding:15px 0px;
        z-index:-1 !important;

        width:100%;
        position:inline-block;
    }
    .logo-mobile {
        display:inline-block;
        width:50px;
        height:50px;
        position:relative;
        margin-left:30px;
        z-index:1 ;
    }
    .logo-mobile img{
        width:100%;
        height:100%;
    }
    .nav-burger{
        display:flex;
        width:50px;
        height:50px;
        float:right;
        margin-right:15px;
        align-items: center; 
        z-index:1 ;
    }
    .nav-burger i{
        font-size:35px;
        margin:0 auto;
        transition:color .3s ease-in-out;
        cursor:pointer;
        z-index:1;
        color:var(--gold);
    }
    .nav-burger i:hover{
        color:var(--gold);
    }
    .navigation-mobile-active{
        overflow: scroll;
        width:100vw;
        height:100vh;
        background: white;
        margin-left:0%;
        text-align: center;
        padding-top:75px;
        z-index: 99 ;
        position:absolute;
        padding-bottom:50px;
        top:0;
        right:-100%;
    }
    .logo-con-mobile{
        width:75px;
        height:75px;
        position:relative;
        margin:0 auto;
    }
    .anchor-main-con-mobile{
        margin-top:100px;

    }
    .anchor-con-mobile{
        margin:20px auto;
        width:fit-content;
    }
    .anchor-con-mobile a{
        font-size:23px;
        color:black;
        transition:all .3s ease-in-out;
    }
    .anchor-con-mobile a:hover{
        color:var(--gold);
        text-shadow:0px 1px 2px black;
    }
    .anchor-con-mobile.ob-active a{
        color:var(--gold);
        text-shadow:0px 1px 2px black;
    }
    .only-border-nav-mobile{
        width:100%;
        height:2px;
        background: var(--gold);
        box-shadow:0px 1px 2px black;
        display:none;
    }
    .anchor-con-mobile.ob-active>.only-border-nav-mobile{
        display: block;
    }
    .close-con-icon{
        position:absolute;
        top:0;
        right:0;
        margin:15px 15px 0px 0px;
        width:50px;
        height:50px;
        display:flex;
        align-items: center;
        cursor:pointer;
    }
    .close-con-icon i{
        margin:0 auto;
        font-size:35px;
        color:var(--gold);
    }
    .reservation-btn{
        padding:15px 20px;
        margin:50px auto 0px;
        width:fit-content;
        background: linear-gradient(to right,#D2AC47,#D3A833);
    }
    .reservation-btn a{
        color:black;
        font-size:16px;
        padding:10px 20px;
    }
    footer {
        padding: 100px 0px 25px;
    }
    .footer-con-flex-anchors {
        width: 90%;
        margin: 75px auto 0;
    }
    .only-border-footer {
        width: 100%;
        height: 1px;
        background: #fff;
        margin: 50px 0px;
    }
    .only-border-footer {
        margin: 50px 0px 20px;
    }
    .creator {
        margin-top:20px;
    }
    .creator a {
        padding-top:20px;
        text-align:center;
        width:100%;
        transition:color .3s ease-in-out;
        color:white;
    }
    .creator a:hover{
        color:var(--gold);
    }
}


@media only screen and (max-width:600px){
    .section-banner span {
        margin-left: 30px;
        top:210px;
    }
    .section-banner span a{
        color:hsl(0,0%,20%);
        text-shadow: none;
    }
    .section-banner span p{
        color:hsl(0,0%,20%);
        text-shadow: none;
    }
    .section-banner span a:hover{
        color:hsl(0,0%,0%);
        text-shadow: none;
    }
    .section-no1 {
        margin-top: 25px;
        margin-bottom: 50px;
    }
    .section-banner {
        position: relative;
        width: 100%;
        height: 200px;
        margin: 85px auto 0;
        background-size: 120% 100%;
    }
    .section-banner h1 {
        font-size: 30px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    footer {
        padding: 50px 0px 25px;
    }
    footer p {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .footer-con-flex-anchors {
        width: 90%;
        margin: 25px auto 0;
        flex-direction: column;
    }
    .con-footer{
        width:fit-content;
        margin:10px auto;
    }
    .underfooter-con i {
        font-size: 17px;
    }
    footer .underfooter-con p {
        font-size: 13px;
    }
    .underfooter-con a {
        font-size: 13px;
    }
    .only-border-footer {
        margin: 25px 0px 20px;
    }
    .payments-main {
        width: 450px;
        padding: 20px;
        border: 2px solid hsl(0,0%,20%);
        margin: 0 auto;
    }
}

@media only screen and (max-width:500px){
    .payments-main {
        width: 350px;
        padding: 20px;
        border: 2px solid hsl(0,0%,20%);
        margin: 0 auto;
    }
    .payments-flex img {
        width: 100px;
        height: 90px;
        margin: 20px 20px;
    }
    .kontakt-info {
        display: flex;
        justify-content: space-around;
        user-select: none;
        flex-direction: column;
    }
    .info-container-main {
        margin:10px auto;
    }
}

@media only screen and (max-width:450px){
    .underfooter-con a {
        font-size: 10px;
    }
    footer .underfooter-con p {
        font-size: 10px;
    }
    .underfooter-con i {
        font-size: 15px;
    }
    
}

@media only screen and (max-width:400px) {
    .payments-main h3 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    .payments-main {
        width: 250px;
        padding: 20px;
        border: 2px solid hsl(0,0%,20%);
        margin: 0 auto;
    }
    .payments-flex img {
        width: 75px;
        height: 50px;
        margin: 20px 20px;
    }
    .section-banner h1 {
        font-size: 25px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .section-banner span {
        margin-left: 15px;
    }
    .input-control:nth-child(3) > .input-info{
        margin-top:-20px;
    }
    .input-control:nth-child(3) > input{
        margin-top:50px;
    }
}